////////////////////////////////////////////////////
// COLOR
////////////////////////////////////////////////////

$cornflower-blue: #4A90E2;
$congress-blue  : #00408B;
$monza          : #D0021B;
$buttercup      : #F5A623;
$peach-cream    : #FFF2DC;
$concrete       : #F2F2F2;
$silver         : #C8C8C8;
$boulder        : #757575;
$white          : #FFFFFF;
$black          : #000000;
$mercury        : #E1E1E1;



////////////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////////////

//Font size
$font__size:(
	s : 16px,
	m : 20px,
	l : 24px,
);

//Font weight
$font__weight: (
	regular   : 400,
	medium    : 500,
);