/*-----------------------------------------------------
BASIC CONTAINER
-----------------------------------------------------*/

.container {
    width: 100%;
    //max-width: 1024px;
    margin: 0 auto;
}



/*-----------------------------------------------------
TAB CONTAINER
-----------------------------------------------------*/

.container__tab {
    height: $tab__height;
    @extend %center_vertical;
    @extend %flex-wrap_no-wrap;
    @extend %justify-content_center;
}

