/*-----------------------------------------------------
BASIC CONTAINER
-----------------------------------------------------*/

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



/*-----------------------------------------------------
NAV CONTAINER
-----------------------------------------------------*/

.container_nav {
    height: 76px;
    @extend %center_vertical;
    flex-wrap: nowrap;
    justify-content: center;
}

