/*-----------------------------------------------------
LIST | CONTAINER FOR LIST ITEM
-----------------------------------------------------*/

.list {
    margin      : $tab__height + 24px auto 0;
    max-width   : 620px;
}



/*-----------------------------------------------------
LIST ITEM | INDIVIDUAL TO DO LIST ITEM
-----------------------------------------------------*/

.list__item {
    background-color: $list__item_bg;
    margin-bottom   : gutter__size(default);
}



/*-----------------------------------------------------
LIST ITEM MAIN AREA
-----------------------------------------------------*/

.list__item_main {
    @extend %center_vertical;
    @extend %flex-wrap_no-wrap;
    @extend %justify-content_space-between;
    height      : 76px;
    margin-left : gutter__size(default);
    margin-right: gutter__size(default);
}

/*--Main Area | Left--*/
.list__item_left {
    @extend %center_vertical;
    max-width: 480px;
}

/*--Check box--*/
.check-box {
    height          : $icon__size_default;
    width           : $icon__size_default;    
    border-radius   : $border__radius_default;
    background-color: $white;
}

//List item title
.list__item_title {
    margin-left: gutter__size(default);
}

/*--Main Area | Right--*/
.list__item_right {
    @extend %center_vertical;
    > :first-child {
        margin-left : gutter__size(default);
        margin-right: gutter__size(default);
    }
}



/*-----------------------------------------------------
LIST ITEM DETAIL AREA
-----------------------------------------------------*/

.list__item_detail {
    @extend %center_vertical;
    padding-left    : 72px;
    margin-top      : -9px;
    padding-bottom  : gutter__size(s);
    color           : $icon__present;
    > i {
        margin-right: gutter__size(s);
    }
}

/*--Expire time--*/
.expire-time {
    @extend %center_vertical;
    margin-right    : gutter__size(s);
    > .placeholder {
        margin-left : gutter__size(xs);
    }
}



