.tab__item {
    @include flex-grow(1);
    max-width: 220px;
    text-align: center;
    line-height: $tab__height;
    &.active {
        opacity: 1;
        @include prefix(box-shadow, inset 0 -2px 0 #F9FBE7, webkit moz ms);
    }
}