body {
    font-family: 'Roboto', sans-serif;
    background-color: #E1E1E1;
}

p {
    @include font__weight(regular);
    @include font__size(m);
}

a {
	text-decoration: none;
	//color: inherit;
}

nav {
    @extend %shadow_4dp;
    width     : 100%;
    z-index   : 4;
    background-color: #4A90E2;
    /*--Sticky on top--*/
	position  : fixed;
	top       : 0;
	right     : 0;
}

main {
    margin-top: $tab__height;
}

button {
	@extend %cursor--pointer;
	background : transparent no-repeat;
	border     : none;
	outline    : none;
	margin     : 0;
	padding    : 0;
}