body {
    font-family: 'Roboto', sans-serif;
}

p {
    @include font__weight(regular);
    @include font__size(m);
}

a {
	text-decoration: none;
	//color: inherit;
}

a:visited {
	color: inherit;
}

nav {
    background-color: #4A90E2;
}