/*-----------------------------------------------------
FONT WEIGHT
-----------------------------------------------------*/

@each $weight, $val in $font__weight {
	%font__weight_#{$weight} {
		font-weight: $val;
	}
}



/*-----------------------------------------------------
FONT SIZE
-----------------------------------------------------*/

@each $level, $val in $font__size {
	%font__size_#{$level} {
		font-size: $val;
	}
}



/*-----------------------------------------------------
CURSOR PROPERTY
-----------------------------------------------------*/

%cursor--pointer {
	cursor: pointer;
}