/*-----------------------------------------------------
TYPOGRAPHY
-----------------------------------------------------*/

/*--Basic Style--*/

.title {
    @include font__weight(medium);
    @include font__size(l);
}

.subtitle {
    @include font__weight(medium);
    @include font__size(m);
}

.placeholder,
.remark {
    @include font__weight(regular);
    @include font__size(s);
}

.status {
    @include font__size(l);
    font-style: italic;
}

/*--Tab Item--*/

.tab__item {
    //@extend .title;
    @include font__weight(regular);
    @include font__size(m);
    color: $white;
    opacity: 0.38;
}